.contact__image{
    padding: 1rem;
    margin: 1rem;
    width: 100%;
}

@media screen and (max-width:770px) {
    .contact__image{
        padding: 0;
        margin: 0.2rem;
    }
}

@media screen and (max-width:440px) {
    .contact__image{
        display: none;
    }
}
